<div class="courses__container">
    <div class="courses__container__body">
        <% courses.forEach(course => { %>
            <div class="singleCourse">
                <div class="singleCourse__left">
                    <div class="singleCourse__preview">
                        <img src="<%= course.previewImage %>" alt="<%= course.title %>">
                    </div>
                    <h3><%= course.title %></h3>
                </div>
                <div class="singleCourse__right">
                    <a href="course/<%= course._id %>/sections" class="btn btn--outlined btn--small">Zobrazit sekce</a>
                    <a href="create/course/<%= course._id %>/section" class="btn btn--filled btn--small">Vytvořit sekci</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

